/* Navbar Desktop */
.navbar {
    width: 100%;
    background-color: #ffffff;
    color: #496f3c;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px;
    width: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    cursor: pointer;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #496f3c;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: center;
        /* logo di tengah */
        position: relative;
    }

    .hamburger {
        display: flex;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .nav-menu {
        position: absolute;
        top: 60px;
        background-color: #ffffff;
        flex-direction: column;
        width: 768px;
        text-align: center;
        display: none;
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.show {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}